In [2]:

import pandas as pdr
import keras 
from keras.layers import Dense,LSTM
from keras.models import Sequential

ModuleNotFoundError: No module named 'keras'

In [71]:
import pandas as pd
df2=pd.read_csv("test.txt",header=None)
c=df2.iloc[:,:-1]
c.head()

,0,1,2,3,4,5,6,7,8,9,...,489,490,491,492,493,494,495,496,497,498
0,44.00,141.6500,129.73,76.85,101.9400,86.0344,59.0000,117.84,37.7800,12.7740,...,34.805,87.64,119.4125,45.150,40.515,81.4700,7.000,49.28,63.99,119.936
1,44.03,141.6800,129.84,76.90,101.9700,86.0600,59.0400,117.95,37.7800,12.7900,...,34.820,87.70,119.4800,45.150,40.515,81.5060,7.000,49.29,63.99,120.020
2,44.01,141.5965,129.87,76.86,101.9600,86.0700,59.0800,117.94,37.8000,12.7907,...,34.820,87.74,119.4700,45.185,40.520,81.5200,6.995,49.28,63.99,120.040
3,43.99,141.6250,129.85,76.88,101.9600,86.0600,59.0700,117.86,37.8137,12.7900,...,34.805,87.73,119.3350,45.180,40.490,81.5100,6.995,49.25,63.99,120.030
4,43.99,141.5500,129.74,76.89,101.9656,86.0465,59.0899,117.77,37.8000,12.7700,...,34.810,87.73,119.3300,45.160,40.490,81.5211,6.990,49.23,64.00,120.040

In [7]:
df1=pd.read_csv("train.txt",header=None)

In [51]:
x=df1.iloc[:,:-1]
y=df1.iloc[:,-1]

In [42]:
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
#from sk
from sklearn.model_selection import train_test_split

In [59]:
scaler=StandardScaler()
#x=scaler.fit_transform(x)
#y=scaler.fit_transform(np.array(y).reshape(1,-1))
x.head()

,0,1,2,3,4,5,6,7,8,9,...,489,490,491,492,493,494,495,496,497,498
0,44.00,141.6500,129.73,76.85,101.9400,86.0344,59.0000,117.84,37.7800,12.7740,...,34.805,87.64,119.4125,45.150,40.515,81.4700,7.000,49.28,63.99,119.936
1,44.03,141.6800,129.84,76.90,101.9700,86.0600,59.0400,117.95,37.7800,12.7900,...,34.820,87.70,119.4800,45.150,40.515,81.5060,7.000,49.29,63.99,120.020
2,44.01,141.5965,129.87,76.86,101.9600,86.0700,59.0800,117.94,37.8000,12.7907,...,34.820,87.74,119.4700,45.185,40.520,81.5200,6.995,49.28,63.99,120.040
3,43.99,141.6250,129.85,76.88,101.9600,86.0600,59.0700,117.86,37.8137,12.7900,...,34.805,87.73,119.3350,45.180,40.490,81.5100,6.995,49.25,63.99,120.030
4,43.99,141.5500,129.74,76.89,101.9656,86.0465,59.0899,117.77,37.8000,12.7700,...,34.810,87.73,119.3300,45.160,40.490,81.5211,6.990,49.23,64.00,120.040

In [44]:
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

def model():
    model=Sequential()
    model.add(Dense(500,activation="relu",input_shape=(499,1)))
    model.add(Dense(100,activation="relu"))
    model.add(Dense(10,activation="relu"))
    model.add(Dense(1,activation="relu"))
    
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

estimator = KerasRegressor(build_fn=model, epochs=100, batch_size=5, verbose=0)
kfold = KFold(n_splits=10)
results = cross_val_score(estimator, x, y, cv=kfold)

In [74]:
import xgboost as xgb
clf=xgb.XGBRegressor(random_state=40)
r=clf.fit(x,y)
train_set=clf.predict(c)

def modified_dataset(dataset,time):
    x_train=[]
    y_train=[]
    for i in range(len(dataset)-time-1):
        x_train.append(dataset[i:i+time])
        y_train.append(dataset[i+time])
    return (np.array(x_train),(y_train))    

x_train,y_train=modified_dataset(y,100)
train_set=np.array(train_set)
x_test,y_test=modified_dataset(train_set,100)

In [87]:
x_train=x_train.reshape(x_train.shape[0],x_train.shape[1],1)
x_test=x_test.reshape(x_test.shape[0],x_test.shape[1],1)
x_test.shape

import keras 
from keras.layers import Dense,LSTM
from keras.models import Sequential 


model =Sequential()
model.add(LSTM(50,return_sequences=True,input_shape=(100,1)))
model.add(LSTM(50,return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1))

model.compile(loss="mean_squared_error",optimizer="adam")

model.fit(x_train,y_train,validation_data=(x_test,y_test),epochs=100,batch_size=32,verbose=1)

(795, 100, 1)